.healthContent {
  background-image: url("../assests/images/healthcare.png");
  background-size: cover;
  min-height: 62vh;
  padding-top: 2%;
  padding-bottom: 1%;
}

.carouselItem {
  justify-content: -10px;
}
