.bottom {
  position: absolute;
  bottom: 10px;
  left: 100px;
}

.cardContainer .button {
  background-color: rgb(243, 195, 0);
  color: rgb(0, 62, 82);
  border: none;
  text-decoration: none;
}

.cardContainer .carding {
  background-color: rgb(41, 143, 168);
  color: white;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer .cardbottom {
  display: flex;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.title {
  font-size: 25px;
  flex: 1;
}

.description {
  font-size: 18px;
  padding-bottom: 5px;
}

@media screen and (max-width: 541px) {
  .carding {
    justify-content: 3em;
  }
}
