.cardContainer .button {
  background-color: rgb(243, 195, 0);
  color: rgb(0, 62, 82);
  border: none;
}

.cardContainer .carding {
  display: flex;
  justify-content: center;
  background-color: rgb(41, 143, 168);
  color: white;
  width: 1000px;
  max-width: 90%;
  height: 800px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.cardImg {
  height: 80%;
}

.title {
  font-size: 30px;
}

.description {
  font-size: 20px;
}
