.bottom {
  position: absolute;
  bottom: 5px;
  left: 100px;
}

.carding button {
  border: none;
  text-decoration: none;
  background-color: rgba(0, 62, 82, 0.5);
}

.cardContainer .carding {
  background-color: rgb(41, 143, 168);
  color: white;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContainer .cardbottom {
  display: flex;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  filter: drop-shadow(30px 20px 4px rgba(0, 62, 82, 0.5));
}

.title {
  font-size: 25px;
  flex: 1;
}

.description {
  font-size: 16px;
  padding-bottom: 5px;
}

@media screen and (max-width: 541px) {
  .carding {
    justify-content: 3em;
  }
}
