.cardContainer .button {
  background-color: rgb(243, 195, 0);
  color: rgb(0, 62, 82);
  border: none;
}

.cardContainer .carding {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 143, 168);
  color: white;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
}

.title {
  size: 10px;
}

.description {
  font-size: 20px;
}
