.carouselContainer {
  padding: 35px 0;
}

.carouselContainer button {
  background: none;
  background-color: rgb(243, 195, 0);
  margin: 0 -0.7em;
}

.flex {
  display: flex;
}

.spaceContainer {
  display: flex;
}

.title {
  color: rgb(0, 62, 82);
  margin: 0 6.5%;
}

@media screen and (max-width: 500px) {
  .title {
    margin: 0 1.5em;
  }
}
